<ion-header translucent>
  <ion-toolbar>
    <ion-title>Deposit funds</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-label>Balance</ion-label>
          <ion-chip [color]="bankAccount.balance > 0 ? 'success' : 'danger'">
            {{ bankAccount.balance | currency:'R' }}
          </ion-chip>
        </ion-item>

        <ion-item>
          <ion-label>Overdraft</ion-label>
          <ion-chip>{{ bankAccount.overdraft | currency:'R' }}</ion-chip>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <form [formGroup]="depositForm">
        <ion-item>
          <ion-label>Amount: R</ion-label>
          <ion-input min="1" formControlName="depositAmount" type="number"></ion-input>
          <ion-text color="danger" *ngIf="depositForm.touched && depositAmount.hasError('required')">
            <ion-icon name="warning" color="danger"></ion-icon> Amount is required
          </ion-text>

          <ion-text color="danger" *ngIf="depositForm.touched && depositAmount.hasError('zeroAmount')">
            <ion-icon name="warning" color="danger"></ion-icon> Invalid amount
          </ion-text>
        </ion-item>

        <ion-button expand="full" class="ion-margin-top" (click)="depositMoney()">Proceed</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
