<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ transactionType | titlecase }} funds</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal(null)">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-label>Balance</ion-label>
          <ion-chip [color]="bankAccount.balance > 0 ? 'success' : 'danger'">
            {{ bankAccount.balance | currency:'R' }}
          </ion-chip>
        </ion-item>

        <ion-item>
          <ion-label>Overdraft limit</ion-label>
          <ion-chip>{{ bankAccount.overdraft | currency:'R' }}</ion-chip>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="transact()">
        <ion-item>
          <ion-label>Amount: R</ion-label>
          <ion-input formControlName="amount" type="number"></ion-input>
          <ion-text color="danger" *ngIf="form.touched && amount.hasError('required')">
            <ion-icon name="warning" color="danger"></ion-icon> Amount is required
          </ion-text>

          <ion-text color="danger" *ngIf="form.touched && amount.hasError('min')">
            <ion-icon name="warning" color="danger"></ion-icon> Invalid amount
          </ion-text>

          <ion-text color="danger" *ngIf="form.touched && amount.hasError('insufficientFunds')">
            <ion-icon name="warning" color="danger"></ion-icon> Insufficient funds
          </ion-text>
        </ion-item>

        <ion-button type="submit" expand="full" [disabled]="form.invalid" class="ion-margin-top">Proceed</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
