<ion-header>
  <ion-toolbar>
    <ion-title>Banking App Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-progress-bar type="indeterminate" *ngIf="loading$ | async"></ion-progress-bar>

<ion-content>
  <ion-avatar class="ion-margin-top">
    <ion-img [src]="'assets/dvt.jpg'" [alt]="'DVT logo'"></ion-img>
  </ion-avatar>

  <ion-card>
    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-item>
          <ion-input type="email" placeholder="Email" (ionFocus)="email.setErrors(null)" inputmode="email" formControlName="email"></ion-input>
          <ion-text color="danger" *ngIf="loginForm.touched && email.hasError('required')">
            <ion-icon name="warning" color="danger"></ion-icon> Email is required
          </ion-text>

          <ion-text color="danger" *ngIf="loginForm.touched && email.hasError('invalidCredentials')">
            <ion-icon name="warning" color="danger"></ion-icon> Invalid credentials
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-input id="password" placeholder="Password" type="password" (ionFocus)="password.setErrors(null)" formControlName="password"></ion-input>
          <ion-text color="danger" *ngIf="loginForm.touched && password.hasError('required')">
            <ion-icon name="warning" color="danger"></ion-icon> Password is required
          </ion-text>

          <ion-text color="danger" *ngIf="loginForm.touched && password.hasError('invalidCredentials')">
            <ion-icon name="warning" color="danger"></ion-icon> Invalid credentials
          </ion-text>
        </ion-item>

        <ion-button type="submit" class="ion-margin-top" [disabled]="loginForm.invalid || (loading$ | async)" expand="full">Login</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
