<ion-header>
  <ion-toolbar>
    <ion-title>Banking App Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-progress-bar type="indeterminate" *ngIf="loading$ | async"></ion-progress-bar>

<ion-content>
  <ion-avatar class="ion-margin-top">
    <ion-img [src]="'assets/dvt.jpg'" [alt]="'DVT logo'"></ion-img>
  </ion-avatar>

  <ion-card>
    <ion-card-content>
      <form [formGroup]="loginForm">
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input type="email" (ionFocus)="email.setErrors(null)" inputmode="email" formControlName="email"></ion-input>
          <ion-text color="danger" *ngIf="loginForm.touched && email.hasError('required')">
            <ion-icon name="warning" color="danger"></ion-icon> Email is required
          </ion-text>

          <ion-text color="danger" *ngIf="loginForm.touched && email.hasError('emailNotFound')">
            <ion-icon name="warning" color="danger"></ion-icon> Email not found
          </ion-text>
        </ion-item>

        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="password"  (ionFocus)="password.setErrors(null)" formControlName="password"></ion-input>
          <ion-text color="danger" *ngIf="loginForm.touched && password.hasError('required')">
            <ion-icon name="warning" color="danger"></ion-icon> Password is required
          </ion-text>

          <ion-text color="danger" *ngIf="loginForm.touched && password.hasError('invalidPassword')">
            <ion-icon name="warning" color="danger"></ion-icon> Password is invalid
          </ion-text>
        </ion-item>

        <ion-button class="ion-margin-top" [disabled]="loginForm.invalid || (loading$ | async)" (click)="login()" expand="full">Login</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
